html{
    scroll-snap-type: y mandatory;
}

body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* font-family: 'Hack', monospace; */
    font-family: 'Montserrat', sans-serif;
    background-color: #EEF0F5;
    overflow-x: hidden;

}


.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.headerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 20px; */
}

.headerLogo img{
    height: 40px;
    width: 40px;
}

.headerLogo p{
    margin: 0;
    font-size: 12px;
}

.middleElements{
    display: flex;
    justify-content: center;
    align-items: center;
}

.middleElements h2{
    border-right: 2px solid black;
    padding: 0 10px;
}

.middleElements h2:hover{
    font-weight: 600;
}
.middleElements h2:last-child{
    border-right: none
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100vw - 20px);
    height: 55px;
    align-items: center;
    position:fixed;
    top: 0;
    border-bottom: 2px solid black;
    z-index: 1000;
    background-color: white ;
    padding-left: 10px;
    padding-right: 10px;
}

.header h2{
    font-size: 15px;
    font-weight: 500;
}

.header h1{
    font-size: 20px;
}


.aboutMe{
    width: 100vw;
    min-height: calc(100vh - 57px); 
    padding-top: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start; /* Define snap points */
    overflow: hidden;

}
.aboutMe img {
    flex: 1;
    max-height: 480px;
    max-width: 480px;
    min-height: 375px;
    height: auto;
    min-width: 375px; /* Minimum width set to 375px */
    width: 30vw; 
}


.text{
    flex: 2;
    max-width: 800px;
    padding: 10px 10px;
}

.text h3{
    font-weight: 500;
}
.logoText img{
    object-fit: contain;
    height: 10vh;
    min-height: 50px;
}

.logoText{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 5px;
    transition: transform 0.3s ease;
}

.logoText:hover{
    transform: scale(1.15);
}

.logoText img{
    /* width: 65px;
    height: 65px; */
    width: 11vw;
    height: 11vh;
}

.logoText span{
    font-size: 15px;
}

.logoContainer{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 5px;
}

.skills{
    min-height: calc(100vh - 57px); 
    padding-top: 57px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    scroll-snap-align: start; /* Define snap points */
    gap: 15vh;
    overflow: hidden;

}

.skillText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    max-width: 900px;
}

.skillText h3{
    font-weight: 500;
}

.projects{
    scroll-snap-align: start; /* Define snap points */
    width: 100vw;
    min-height: calc(100vh - 57px); 
    padding-top: 57px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10vh;
    /* overflow: hidden; */
}

.cardContainer{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
}


.card {
    background-color: white;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    
    min-height: 300px;
    height: 25vw;
    max-height: 650px;
    
    width: 250px;
    max-width: 400px;
    
    padding: 10px;
    margin: 10px;

    /*Border Related*/
    border: double 4px transparent;
    border-radius: 20px;
    background-image: linear-gradient(#EEF0F5, #EEF0F5), radial-gradient(circle at top left, #914cd2,#FF6978);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    transition: transform 0.3s ease;
}

#specialColor{
    background-image: linear-gradient(#EEF0F5, #EEF0F5), radial-gradient(circle at top left, green,darkgray);

}

.card:hover {
    transform: scale(1.03);
}


.card img{
    flex: 2;
    flex-shrink: 0;
    height: 150px;
    width: 100%;
    border-radius: 15px;
}

.nameText{
    flex: 1;
    flex-shrink: 0;
}

.nameText h3{
    font-weight: 500;
}

a{
    color: inherit;
    text-decoration: none;
}

.contact{
    display: flex;
    flex-direction: column;
    scroll-snap-align: start; /* Define snap points */
    width: 100vw;
    min-height: calc(100vh - 57px); 
    padding-top: 57px;
    justify-content: start;
    align-items: center;
    gap: 5vh;
}

form{
    display: flex;
    width: 50vw;
    height: 50vh;
    max-width: 700px;
    flex-direction: column;
    gap: 2vh;
}

input{
    padding: 12px 20px;
    border-radius: 15px;
    border: 2px solid gray;
    height: 30px;

}

label{
    font-weight: 900;
}

form #msg{
    height: 100px;
}

textarea{
    padding: 12px 20px;
    border-radius: 15px;
    border: 2px solid gray;
    resize: none;
}

button{
    height: 50px;
    width: 100px;
    border-radius: 15px;
    max-width: 100px;
    background-color: white;
    border: 2px solid black;
    transition: transform 0.3s ease;
    margin-right: auto;
    margin-left: auto;
    color: black;
    cursor: pointer;
    font-weight: 900;

}

button:hover{
    transform: scale(1.10);
    
}

.contactMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contactMe .images{
    display: flex;
    gap: 20px;
}
.contactMe img{
    height: 50px;
    width: 50px;
    
}

.socialLogoText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media (max-width: 750px) {
    .middleElements {
        position: fixed;
        left: -100%;
        top: 55px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .middleElements.active{
        left: 0;
    }
    .middleElements.active h2{
        border-right: None;
    }

    .aboutMe{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutMe img{
        min-width: 200px;
        width: 350px;
    }

    .hamburger{
        display: block !important;
        padding-right: 20px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 499px) {
    .aboutMe img{
        flex-grow: 0;
        flex-shrink: 0;
        min-width: 150px;
        width: 250px ;
        min-height: 10px;
        height: 250px;
    }

    .text{
        font-size: smaller;
    }

    .contact{
        gap: 10px;
    }

    html{
        scroll-snap-type: none;
    }
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}



@media (max-width: 930px) {
    .cardContainer{
        flex-direction: column;
    }
    .projects{
        gap: 2vh;
    }
    
}