body{
    margin-top: 0px;
    margin-bottom: 0px;
    /* font-family: 'Hack', monospace; */
    
    font-family: 'Montserrat', sans-serif;
    

    background-color: #EEF0F5;
}

.upperLeft h3{
    font-size: 20px;
    color: rgb(59, 59, 59);
}

h1{
    font-size: 45px;
}

h2{
    font-size: 25px;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh; /* vh stands for viewport height */

}

.placeHolder{
    width: 134.98px;
}

.upperUp{
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: center;
    align-items: center;
}

.upperUp h1{
    margin-left: auto;
    margin-right: auto;
}

.socialLogos{
    display: flex;
    gap: 5px;
    margin-right: 30px;
   
}

.socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials img{
    height: 50px;
    width: 60px;
}

.upperDown{
    display: flex;
    flex-direction: row;
}

/* .upperLeft h1 {
    display: flex;
    font-size: 5em; /* Adjust the font size as needed */
    /* background: linear-gradient(to right,  #350068, #FF6978);
    background-clip: text; */
    /* color: transparent; */
    /* margin: 10px 10px 10px 10px; /* Remove default margin on h1 */
    /* justify-content: center;
    align-items: center;
  } */ 
.upperLeft h2{ 
    margin-left: 20px;
}
.upperLeft h3{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    justify-content: center;
}

.upperRight h1{
    display: flex;
    justify-content: center;
    flex: 1;
}

.logoText img{
    object-fit: contain;
    height: 10vh;
    min-height: 50px;
}

.logoText{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 5px;
    transition: transform 0.3s ease;
}

.logoText:hover{
    transform: scale(1.15);
}

.logoText img{
    width: 65px;
    height: 65px;
}

.logoText span{
    font-size: 15px;
}

.logoContainer{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr 1fr;
    place-items: center;
    /* margin-right: 40px; */
    margin-top: 50px;
}

.upper{
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
}

.lower{
    flex: 2 0 0;
    display: flex;
    flex-direction: column;
    /* margin-top: 30px; */
}


.upperLeft{
    flex: 1 0 0;
}
.upperRight{
    flex: 1;
    margin-left: 40px;
}

.lowerText{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.projects{
    flex: 9;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 10vw;
    margin: 10px;

}



.card {
    background-color: white;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    height: 20vw;
    max-height: 450px;
    
    width: 250px;
    max-width: 400px;
    
    padding: 10px;
    margin: 10px;

    /*Border Related*/
    border: double 4px transparent;
    border-radius: 20px;
    background-image: linear-gradient(#EEF0F5, #EEF0F5), radial-gradient(circle at top left, #914cd2,#FF6978);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    transition: transform 0.3s ease;
}

#specialColor{
    background-image: linear-gradient(#EEF0F5, #EEF0F5), radial-gradient(circle at top left, green,darkgray);

}

.card:hover {
    transform: scale(1.03);
}


.card img{
    flex: 2;
    flex-shrink: 0;
    height: 150px;
    width: 100%;
    border-radius: 15px;
}

.card .nameText{
    flex: 1;
    flex-shrink: 0;
}

a{
    color: inherit;
    text-decoration: none;
}


@media only screen and (max-width: 1000px) {
    .upperDown{
        flex-direction: column;
    }
  }

  @media only screen and (max-width: 770px) {
    .projects{
        flex-direction: column;
        align-items: center;
    }


  }

  @media (min-width: 1920px) {
    .main {
        max-width: 1700px; /* or whatever maximum width you prefer */
        margin: 0 auto; /* Centers the container */
        padding: 0 1rem; /* Optional: adds some padding on both sides */
    }
    /* .socialLogos{
        margin-right: 100px;
    } */
}
